i,strong,abbr,cite{
    outline: 3px solid yellow;
}
section,p, nav{
    outline: 3px solid green;
}

nav.top-menu > ul > li {
    display: inline-block;
    width: 100px;
}
nav.top-menu > ul > li:hover > ul{
    display: inline-block;
}

nav li ul{
    display: none;
    position: absolute;
    background: hotpink;
}

.kot-left{
    float: left; 
}
.kot-right{
    float: right; 
}
section{
    clear:both;
}
figure img{
    width:100%;
}


article{
    width: 60%;
    float:left;
}
aside{
    width: 40%;
    float:left;
}
footer{
    clear: both;
}