main{
    flex-direction: column;
}

a[href^=http]::after { 
    content: "( " attr(href) " ) "; 
    text-decoration: none;
    color: gray;
    font-size: small;
    margin-left: 5px;
}

.please-dont-print{
    display: none;
}

