/*
    HELPERS
    https://necolas.github.io/normalize.css/7.0.0/normalize.css
*/
header,footer, article, aside, div{
    outline: 1px solid green;
}
*{
    user-select: none;
}

/*
    LAYOUT
*/
.container{
    width: 100%;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:320px){
    
}

@media screen and (min-width:768px){
   .container{
        max-width: 1024px;
        width:90%;
        margin: 0 auto;
    }
}

@media screen and (min-width:768px), screen and (orientation:landscape) {
    main{
        flex-direction: row;
    }
    article{
        flex:4;
    }
    aside{
        flex:2;
    }
}




/*.container{
    margin:1em 20px;
}

main{
    display: flex;
}
article{
    flex:8 1 80%;
}
aside{
    flex:2 1 200px;
    min-width:200px;
}*/

/* NAV */

#main-menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
#main-menu ul{
    list-style: none;
}

/* Active Element */
#main-menu li.active > a{
    font-weight: bold;
}

/* Hovered Element */
#main-menu li:hover > a{
    background: hotpink;
}
/*
#main-menu li.active + li a{
    color:red;
}*/

a[href^=http]::after {
    content: " ^";
    text-decoration: none;
    color: gray;
    font-size: small;
    margin-left: 5px;
}

#main-menu ul ul{
    transition: .6s transform cubic-bezier(1, 0.02, 1, 1);
}
#main-menu ul ul:hover{
    transform: rotateX(180deg)
}